*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;

}

*::selection{

background-color: #00ABB3;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield;
}



:root{

    --primary-color: #00ABB3;
    --secondary-color: #3C4048;
    --text-color: white;
    --shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    --bg-color:  	#F8F8F8;

}

header nav{

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;

}

header nav .drop-down{

    margin: 0px -10px;
    
    

}

header nav .drop-down img{


    width: 30px;
    height: 30px;
    margin: -1px 1px;   
    cursor: pointer;


}


header nav .drop-down .drop-holder{


    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80px;
 

}

header nav .drop-down .sevice-tab div{

    display: block;
   


}


header nav .drop-down .sevice-tab div a{


   color: white;
  


}

header nav .drop-down .sevice-tab div a:hover{

  color: white;

}




header nav .drop-down .sevice-tab {

    /* width: 100%; */
    position: absolute;
    z-index: 999;
    background-color: #595858;
    top: 70px;
    width: 250px;
    border-radius: 20px;
    transition: opacity 2s;
    

}




header nav .drop-down .sevice-tab div {

    margin: 10px 20px;

    /* margin-bottom: 8px; */
    padding: 5px 16px;
    cursor: pointer;
    border-radius: 40px;
   
   
}

header nav .drop-down .sevice-tab div:hover {

  background-color: var(--primary-color);


 
}



header nav ul{

    
    display: flex;
    

}


header nav ul div{

        margin: 0em 2em;    

}

header nav ul div a{

        
     text-decoration: none;
     font-size: 1.1em;
     font-weight: 400;
     color: var(--secondary-color);

}


header nav ul div a:hover{

        
  color: var(--primary-color);
  

}


header nav button{

    
    outline: unset;
    font-size: 16px;
    font-weight: 900;
    border: none;
    border-radius: 50px;
    width: 140px;
    padding: 12px;
    cursor: pointer;
    background: var(--secondary-color);
    color: var(--text-color);
    
}

header nav .signup-signin a{

    text-decoration: none;
    font-size: 1em;
    color: var(--secondary-color);
    margin: 0px 5px ;
    font-weight: 900;

    
}

/* body */


body{

  background-color: var(--bg-color);

}


/* Section-control */



.Starter-Sec{

  width: 100%;
  height: 900px;
  /* border: 2px solid black; */
  padding: 30px 80px;


  
  

}

.Starter-Sec .intro-sec{

  /* border: 2px solid black; */
  background-color: var(--secondary-color);
  width: 100%;
  height: 800px;
  border-radius: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 100px 100px ;

  box-shadow: var(--shadow);

}

.Starter-Sec .intro-sec .Web-intro{

  margin-top: 50px;

}

.Starter-Sec .intro-sec .Web-intro h2{

  font-size: 4em;
  color: var(--primary-color);
  font-weight: 900;
  margin-top: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;

}



.Starter-Sec .intro-sec .Web-intro p{

  font-size: 1.4em;
  margin-top: 20px;
  letter-spacing: 3px;
  color: white;
  

}

.Starter-Sec .intro-sec .Web-intro button{

  margin-top: 40px;
outline: unset;
border: none;
border-radius: 40px;
width: 240px;
height: 65px;
padding: 12px;
cursor: pointer;
background: var(--primary-color);
color: black;
font-size: 16px;
font-weight: 900;

}

.Starter-Sec .intro-sec .Web-pics img{


  width: 400px;
  height:400px;


}

.Starter-Sec .intro-sec .Web-pics {


  display: flex;
  justify-content: center;
  align-items: center;


}


.Starter-Sec .intro-sec .Side-icons img{

  width: 133px;
  height: 133px;
  margin: 35px;
  


}

.Starter-Sec .intro-sec .Side-icons{


  display: flex;
  flex-direction: column;

}
  
  

/* service section  */


.Service-Sec{


  width: 100%;
  height: 700px;
  padding: 40px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  


}


.Service-Sec .sec-intro{

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  margin-bottom: 100px;

}

.Service-Sec .sec-intro h2{

  font-size: 3.2em;
  letter-spacing: 0.2em;

}


.Service-Sec .service-holder{

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;

}

.Service-Sec .service-holder .service{

  width: 280px;
  height: 280px;

  display: flex;  
justify-content: center;
align-items: center;
border-radius: 50px;
background-color: var(--secondary-color);
gap: 10px;
cursor: pointer;
transition: 0.2s linear;
box-shadow: var(--shadow);

}


.Service-Sec .service-holder .service:hover{

  transform: scale(1.020);

}



.Service-Sec .service-holder .service img{


  width: 120px;
  height: 120px;


}
/* 
.Service-Sec .service-holder .service img {

  filter: invert(1);
  } */

.Service-Sec .service-holder .service h2{

 
  margin-top: 10px;
  font-size: 1.0em;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: capitalize;
  font-weight: 12px;
  padding: 0px 10px;
  color: var(--text-color);
  border-radius: 50px;


}

/* Why us section  */

.whyus-sec{


  width: 100%;
  height: 700px;
  padding: 20px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center ;
  align-items: center ;
  margin-top: 30px;

  


}


.whyus-sec .Whyus-intro{

  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;


}

.whyus-sec .Whyus-intro h2{

  font-size: 3.2em;
  letter-spacing: 0.2em;

}

.whyus-sec .Whyus-list{

  display: flex;
  justify-content: center;
  align-items: center;


}

.whyus-sec .Whyus-list ul {



  list-style: none;
  border: 2px solid var(--secondary-color);
  width: 600px;
  height: 500px;
  padding: 50px;
  border-radius: 50px;
background-color: var(--secondary-color);
box-shadow: var(--shadow);
transition: 0.4s ease-out;
cursor: pointer;

}



.whyus-sec .Whyus-list ul:hover{


  transform: scale(1.02);


}

.whyus-sec .Whyus-list ul div{


  font-size: 1.4em;
  margin-bottom: 35px;
  margin-left: 30px;
 display: flex;
 gap: 1.2em;
 

  

}

.whyus-sec .Whyus-list ul div img{


  width: 30px;
  height: 30px;
  margin-top: 2px;

 
}

.whyus-sec .Whyus-list ul div a{


  text-decoration: none;
  color: var(--text-color );
  margin-right: 10px;
  
 



}


/* Form section  */


.complain-form{

  width: 100%;
  height: 1200px;
  padding: 100px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;



}

.complain-form .Form-txt{


  margin-bottom: 100px;


}
.complain-form .Form-txt h2{


  font-size: 3.2em;
  letter-spacing: 0.2em;


}

.complain-form .Form-txt p{

  font-size: 1.2rem;
  text-align: center;

}

.complain-form .Form-inputs{

width: 1200px;
height: 520px;
border-radius: 50px;
background-color: var(--secondary-color);
box-shadow: var(--shadow);
border: none;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
gap: 1.4em;

}



.complain-form .Form-inputs input{


  outline: unset;
  border: none;
  width: 400px;
  padding: 15px;
  border-radius: 50px;
  color: var(--secondary-color);
  margin: 0px 20px;

}

.complain-form .Form-inputs textarea{

  width: 950px;
  padding: 15px 20px;
  border-radius: 20px;
  outline: unset;
  /* font-size: 0.1em; */


}

.complain-form .Form-inputs button{

  width: 250px;
  padding: 15px 20px;
  font-size: 1.2em;
  border-radius: 20px;
  border: none;
  outline: unset;
  cursor: pointer;

}




.complain-form .Form-inputs input::placeholder{

  color: black;
  font-size: 1.2em;

}

.complain-form .Form-inputs textarea::placeholder{

  color: black;
  font-size: 1.2em;

}

.Footer{

  width: 100%;
  height: 400px;
  /* margin: 0; */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap:12em;



}


.Footer div h2{

  color: var(--primary-color);
  font-size: 2.1em;
  margin-bottom: 15px;


}


.Footer div ul {

  list-style: none;


}

.Footer div ul li {


  margin: 10px;

}



.Footer div a{

  color: white;
text-decoration: none;
font-size: 1.1em;




}

/* Elements for  */

.style-elemts{

  width: 80px;
  height: 80px;
  border: 2px solid var(--secondary-color);
  border-radius: 50%;
  position: relative;
  left: 150px;




}

.style-elemtsB{

  
  width: 50px;
  height: 50px;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  position: relative;
  left: 200px;

}


.style-elemtstag2{

  width: 80px;
  height: 80px;
  border: 2px solid var(--secondary-color);
  border-radius: 50%;
  position: relative;
  left: 1450px;




}




.style-elemtsBtag2{

  
  width: 50px;
  height: 50px;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  position: relative;
  left: 1500px;
  

}

