*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;

}

*::selection{

background-color: #00ABB3;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield;
}



:root{

    --primary-color: #00ABB3;
    --secondary-color: #3C4048;
    --text-color: white;
    --shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    --bg-color: : #dddddd;

}

body{

  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.sign-in .icon img{

  width: 100px;
  height: 100px;
  margin-bottom: 40px ;

}

.sign-in{



  width: 600px;
  height: 500px;
  border: 2px solid black;
  background-color: var(--secondary-color);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  border: none;




}

.sign-in .inputs{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}
.sign-in input{

  outline: unset;
  padding: 10px;
  width: 380px;
  margin: 10px 0px;
  border-radius: 50px;
  border: none;
  

}

.sign-in .btn button{


  margin-top: 20px;
  width: 300px;
  height: 35px;
  border-radius: 50px;
  border: none;
  cursor: pointer;

}