*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;

}

*::selection{

background-color: #00ABB3;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield;
}



:root{

    --primary-color: #00ABB3;
    --secondary-color: #3C4048;
    --text-color: white;
    --shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    --bg-color: : #dddddd;

}


body{

  width: 100%;
  height:700px;
  padding: 200px 550px;

}

/* .CloseBtn{

  float: right;
  position: relative;
  top: 20px;
  right: 25px;

}

.CloseBtn a{

color: black;

} */

.SignUp{

 width: 900px;
 height: 600px;
 border: 2px solid black;
 background-color: var(--secondary-color);
 border-radius: 30px;
 display: flex;
 flex-direction: column;
 gap: 2em;
 padding: 60px 80px;
 border: none;
 
 

}

.SignUp .Intro{


  margin: 20px;

}

.SignUp .Intro h2{


  font-size: 2em;
  color: var(--primary-color);

}

.SignUp input{

  padding: 12px;
  width: 350px;
  border-radius: 50px;
  outline: unset;
  border: none;

}

.SignUp .input-2 input{

  width: 700px;

}

.SignUp .input-1 input{

  margin-right: 5px;


}

.SignUp select{

  outline: unset;
  padding: 12px;
  width: 700px;
  border-radius: 50px;
  border: none;
/* margin: 0px 100px; */

}


.SignUp .Button button{

  outline: unset;
  padding: 12px;
  width: 300px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  margin: 0px 400px; 

}